.detail {
    position: relative;
    width: 70%;
    margin: auto;
    top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
}

@media screen and (max-width: 1090px) {
    .detail {
        left: initial;
        top: initial;
        width: 100%;
    }

    .movieposter {
        width: 50%;
        margin: 0 auto;
    }
}

.detail {
    text-decoration: none;
    font-size: 25px;
    text-align: left;
}

.movieposter {
    width: 50%;
    height: 350px;
    margin: 0 auto;
}

.yearfont {
    font-size: 18px;
}

.titlefont {
    font-size: 18px;
    margin-top: -25px;
}

.summaryfont {
    font-size: 18px;
    margin-top: -25px;
}

.movie__genres {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.movie__genres li {
    font-size: 18px;
    margin-left: 10px;
}

.movie__genres > strong {
    font-size: 18px;
}